body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: $color-grey-dark-3;
    font-size: 1.6rem;
}

.heading-primary {
    color: $color-primary;
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 300;
}

.text-error {
    color: $color-error;
    font-size: 1.8rem;
}